.css-ltrqdd-MuiMarkElement-root {
    /* stroke: #f13333 !important; */
}

.css-a8rcf6-MuiLineElement-root {
    /* stroke: #f13333 !important; */
}

.chart {
    padding: 50px 0;
    margin: 0 auto;
    max-width: 100%;
}

/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    .chart {
        padding: 0 ;
    }
}