.list__item {
    width: max-content;
    margin: 0 auto 30px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 5px #0002;
    
}

.item__header {
    width: 100%;
    padding: 20px 10px;
    font-weight: 500;
    color: #fdfdfd;
    display: grid;
    grid-template-columns: 300px 100px 150px 30px 200px 50px 50px;
    text-align: center;
    box-shadow: 0 3px 5px #0002;
    background: #2492ff;
    justify-content: center;
}

.item__header span {
    cursor: pointer;
    transition: 300ms;

    &:hover {
        opacity: 0.7;
    }
}

.item__header button {
    background: #fdfdfd;
    border: none;
    outline: none;
    font-size: 18px;
    grid-column: span 2;
    cursor: pointer;
    transition: 300ms;
    border-radius: 5px;
    color: #2492ff;
    box-shadow: 3px 3px 5px #0003;

    &:hover {
        transform: scale(1.05);
    }
}

.list__item .list {
    height: 300px;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid #0001;


    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        background: white;
    }

    &::-webkit-scrollbar-thumb {
        background: #1e90ff;
        border-radius: 10px;
    }
}


.item {
    width: 100%;
    border-bottom: 1px solid #0001;
    padding: 20px 10px;
    color: #666;
    display: grid;
    grid-template-columns: 300px 100px 150px 30px 200px 50px 50px;
    text-align: center;
    justify-content: center;
    text-transform: capitalize;
    font-weight: 500;

}

.item span:nth-child(1),
.item__header span:nth-child(1) {
    text-align: left;
}

.item button {
    background: none;
    border: none;
    cursor: pointer;
    transition: 300ms;
    font-size: 16px;

    &:hover {
        transform: scale(1.2);
    }

    & i {
        color: #e44141;
    }
}


/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    .list__item .list {
        width: max-content;
    }

    .list__item {
        margin: 0;
        width: 100%;
        overflow: auto;
        border-radius: 10px 10px 0 0;
    }

    .list__item .list {
        height: 400px;
    }

    .item__header {
        width: max-content !important;
        grid-template-columns: 150px 100px 150px 30px 200px 50px 50px !important;
    }

    .item {
        grid-template-columns: 150px 100px 150px 30px 200px 50px 50px !important;
    }
}