.painel {
    width: 100%;
    max-width: 910px;
    padding: 20px 0 0;
    margin: 0 auto ;
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.painel__card {
    width: 250px;
    height: 100px;
    border: 1px solid #0001;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    padding: 10px;

    &:nth-of-type(1) {
        /* color: #37ad37; */
        background: #bbecd0;
    }

    &:nth-of-type(2) {
        background: #f5d2de;
    }

    &:nth-of-type(3) {
        background: #eee;
    }
}

.painel__card-title {
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.painel__card span {
    display: block;
    margin: auto 0 0 0;
    font-weight: 400;
    font-size: 20px;

    & strong {
        font-weight: 500;
        font-size: 12px;
    }
}

.dateControl {
    width: 400px;
    margin: 0 auto 20px;
    padding: 10px 20px;
    display: grid;
    gap: 0 10px;
    grid-template-columns: 1fr 1fr;
    background: #2492ff;
    text-align: center;
    border-radius: 7px;
    box-shadow: 3px 3px 5px #0003;
}

.dateControl label {
    color: #fdfdfd;
    font-weight: 500;
    letter-spacing: 2px;
}

.dateControl input {
    margin: 0 0 10px;
    background: #fdfdfd;
    border: none;
    padding: 3px 5px;
    border-radius: 20px;
    color: #2492ff;
    outline: none;
    cursor: pointer;
}

.dateControl button {
    grid-column: span 2;
    width: 50%;
    margin: 0 auto;
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 10px;
    background: #fdfdfd;
    color: #2492ff;
    transition: 300ms;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    box-shadow: 3px 3px 5px #0003;

    &:hover {

        box-shadow: inset 3px 3px 5px #0002;
    }
}


/* MB <= 767 - TB <= 1023 - */
@media screen and (max-width: 767px) {
    .painel {
        width: 90%;
        gap: 20px;
        flex-wrap: nowrap;
        justify-content: left;
        overflow: auto;
        padding: 20px 0 5px;


        &::-webkit-scrollbar {
        height: 4px;
        }
        
        &::-webkit-scrollbar-track {
        background: #eee;
        border-radius: 2px;
        }
        
        &::-webkit-scrollbar-thumb {
        background: #2492ff;
        border-radius: 2px;
        }

    }

    .painel__card {
        min-width: 100%;
        border-radius: ;
        border: 1px solid #00000008;
    }

    .css-10vg0a6-MuiResponsiveChart-container {
        width: 100% !important;
    }

    .dateControl {
        width: 90%;
    }
}